@font-face {
  font-family: 'HelveticaMedCd';
  src: url('HelveticaMedCd.eot');
  src: url('HelveticaMedCd.woff2') format('woff2'),
       url('HelveticaMedCd.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-MediumCond';
  src: url('HelveticaNeue-MediumCond.woff') format('woff'),
       url('HelveticaNeue-MediumCond.ttf') format('truetype'),
       url('HelveticaNeue-MediumCond.svg#HelveticaNeue-MediumCond') format('svg');
  font-weight: normal;
  font-style: normal;
}

