@import 'blocks/loader.styl'

@import 'blocks/font.styl'
@import 'blocks/mixins.styl'
@import 'blocks/var.styl'
@import 'blocks/sprite.styl'

@import 'blocks/header.styl'
@import 'blocks/top-line.styl'
@import 'blocks/owl.styl'
@import 'blocks/menu.styl'
@import 'blocks/slider-slick.styl'

@import 'blocks/main.styl'
@import 'blocks/welcome.styl'
@import 'blocks/news.styl'
@import 'blocks/shop.styl'
@import 'blocks/additionally.styl'

@import 'blocks/footer.styl'
@import 'blocks/info.styl'

@import 'layout/l-grid.styl'