@import 'libs/normalize.styl'
@import 'libs/slick.styl'
@import 'libs/slick-theme.styl'

@import 'blocks/loaderArea.styl'

@import 'blocks/font.styl'
@import 'blocks/mixins.styl'
@import 'blocks/var.styl'

@import 'blocks/header.styl'
@import 'blocks/top-line.styl'
@import 'blocks/owl.styl'
@import 'blocks/menu.styl'
@import 'blocks/slider-slick.styl'

@import 'blocks/main.styl'
@import 'blocks/bienvenue.styl'
@import 'blocks/actualites.styl'
@import 'blocks/magasin.styl'
@import 'blocks/encore.styl'

@import 'blocks/info.styl'

@import 'layout/l-grid.styl'