html
	box-sizing border-box

*, *:before, *:after
	box-sizing inherit

html, body
	height 100%

body
	background-color white
	color black
	font-family HelveticaNeue, arial, verdana
	font-weight 400
	font-style normal
	display flex
	flex-direction column

.container
	width 100%
	max-width 1600px
	min-width 320px
	padding 0
	box-sizing border-box
	margin 0 auto
	
	@media (min-width 480px)
		padding 0 20px