body
	background url(../img/bottomBack.png) bottom repeat-x, url(../img/bottomRightBack.png) bottom right no-repeat
	background-color white

.container
	width 100%
	max-width 1600px
	min-width 320px
	padding 0
	box-sizing border-box
	margin 0 auto
	@media (min-width 480px)
		padding 0 20px
