.bienvenue
	text-align center
	padding 35px 0 20px
	padding-left 10px
	background url(../img/treeBack.png) 50% 100% no-repeat
	background-color white
	@media (min-width 480px)
		padding-left 0
		margin 0 -20px
	&__title
		margin 0
		margin-bottom 20px
		font-family 'HelveticaNeue-CondensedMedium'
		text-transform uppercase
		color $green-dark-color
		font-size 21px
		line-height 24px
	&__text
		margin 0
		font-family 'HelveticaNeue-Roman'
		color #222222
		font-size 14px
		line-height 26px
		text-align left
		@media (min-width 480px)
			padding 0
			font-size 18px
			line-height 32px
			text-align center
		&_link
			color $green-light-color
			text-decoration none
		&_light
			font-family 'HelveticaNeue-CondensedMedium'
			color $green-dark-color