icon-encoreIcon1()
	background-image url(../img/sprite.png)
	background-position -223px -532px
	width 58px
	height 58px

icon-encoreIcon2()
	background-image url(../img/sprite.png)
	background-position 0px -532px
	width 81px
	height 83px

icon-encoreIcon3()
	background-image url(../img/sprite.png)
	background-position -627px -363px
	width 68px
	height 56px

icon-encoreIcon4()
	background-image url(../img/sprite.png)
	background-position -731px 0px
	width 56px
	height 60px

icon-encoreIcon5()
	background-image url(../img/sprite.png)
	background-position -111px -532px
	width 82px
	height 61px
 
 
  
.encore
	text-align center
	padding 30px 0 25px
	@media (min-width 480px)
		padding 35px 0
	&__title
		margin 0
		margin-bottom 20px
		font-family 'HelveticaNeue-CondensedMedium'
		text-transform uppercase
		color $green-dark-color
		font-size 21px
		line-height 24px
	&__items-wrap
		margin 0 auto
	&__item
		position relative
		display inline-block
		width 219px
		height 219px
		background url(../img/encoreBack.png) 0 100% no-repeat
		background-color $green-light-color
		padding-top 120px
		box-sizing border-box
		margin 0 8px
		margin-bottom 16px
		&:hover
			.encore__name:after
				width 70%
			.encore__icon
				top 38%
	&__icon
		position absolute
		top 43%
		left 50%
		transform translate(-50%, -50%)
		transition all .3s cubic-bezier(.73,-2,.21,3)
		&_1
			icon-encoreIcon1()
		&_2
			icon-encoreIcon2()
		&_3
			icon-encoreIcon3()
		&_4
			icon-encoreIcon4()
		&_5
			icon-encoreIcon5()
	&__name
		font-family 'HelveticaNeue-Condensed'
		color white
		font-size 18px
		text-transform uppercase
		letter-spacing 1px
		&:after
			background-color white
			display block
			content ""
			height 2px
			width 0%
			left 50%
			bottom 58px
			position absolute
			transition width .2s ease-in-out
			transform translateX(-50%)
	&__category-link
		position absolute
		top 0
		bottom 0
		left 0
		right 0