@font-face {
  font-family: 'HelveticaNeue-CondensedBold';
  src: url('../fonts/helvetica-neue-bold-cond/HelveticaNeue-CondensedBold.eot');
  src: url('../fonts/helvetica-neue-bold-cond/HelveticaNeue-CondensedBold.woff2') format('woff2'),
       url('../fonts/helvetica-neue-bold-cond/HelveticaNeue-CondensedBold.woff') format('woff'),
       url('../fonts/helvetica-neue-bold-cond/HelveticaNeue-CondensedBold.ttf') format('truetype'),
       url('../fonts/helvetica-neue-bold-cond/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg'),
       url('../fonts/helvetica-neue-bold-cond/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Condensed';
  src: url('../fonts/helvetica-neue-condensed/HelveticaNeue-CondObl.eot');
  src: url('../fonts/helvetica-neue-condensed/HelveticaNeue-CondObl.woff2') format('woff2'),
       url('../fonts/helvetica-neue-condensed/HelveticaNeue57CondensedOblique.woff') format('woff'),
	   url('../fonts/helvetica-neue-condensed/HelveticaNeue57CondensedOblique.ttf') format('truetype'),
       url('../fonts/helvetica-neue-condensed/HelveticaNeue57CondensedOblique.svg#HelveticaNeue57CondensedOblique') format('svg'),
       url('../fonts/helvetica-neue-condensed/HelveticaNeue-CondObl.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-CondensedHeavy';
  src: url('../fonts/helvetica-neue-heavy-condensed/HelveticaNeueLTStd-HvCn.eot');
  src: url('../fonts/helvetica-neue-heavy-condensed/HelveticaNeueLTStd-HvCn.woff2') format('woff2'),
       url('../fonts/helvetica-neue-heavy-condensed/HelveticaNeueLTStd-HvCn.woff') format('woff'),
       url('../fonts/helvetica-neue-heavy-condensed/HelveticaNeueLTStd-HvCn.ttf') format('truetype'),
       url('../fonts/helvetica-neue-heavy-condensed/HelveticaNeueLTStd-HvCn.svg#HelveticaNeueLTStd-HvCn') format('svg'),
       url('../fonts/helvetica-neue-heavy-condensed/HelveticaNeueLTStd-HvCn.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Italic';
  src: url('../fonts/helvetica-neue-italic/HelveticaNeue-Italic.eot');
  src: url('../fonts/helvetica-neue-italic/HelveticaNeue-Italic.woff2') format('woff2'),
       url('../fonts/helvetica-neue-italic/HelveticaNeue-Italic.woff') format('woff'),
       url('../fonts/helvetica-neue-italic/HelveticaNeue-Italic.ttf') format('truetype'),
       url('../fonts/helvetica-neue-italic/HelveticaNeue-Italic.svg#HelveticaNeue-Italic') format('svg'),
       url('../fonts/helvetica-neue-italic/HelveticaNeue-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-CondensedLight';
  src: url('../fonts/helvetica-neue-light-cond/HelveticaNeue-LightCond.eot');
  src: url('../fonts/helvetica-neue-light-cond/HelveticaNeue-LightCond.woff2') format('woff2'),
       url('../fonts/helvetica-neue-light-cond/HelveticaNeue-LightCond.woff') format('woff'),
       url('../fonts/helvetica-neue-light-cond/HelveticaNeue-LightCond.ttf') format('truetype'),
       url('../fonts/helvetica-neue-light-cond/HelveticaNeue-LightCond.svg#HelveticaNeue-LightCond') format('svg'),
       url('../fonts/helvetica-neue-light-cond/HelveticaNeue-LightCond.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-CondensedMedium';
  src: url('../fonts/helvetica-neue-medium-cond/HelveticaMedCd.eot');
  src: url('../fonts/helvetica-neue-medium-cond/HelveticaMedCd.woff2') format('woff2'),
       url('../fonts/helvetica-neue-medium-cond/HelveticaNeue-MediumCond.woff') format('woff'),
       url('../fonts/helvetica-neue-medium-cond/HelveticaNeue-MediumCond.ttf') format('truetype'),
       url('../fonts/helvetica-neue-medium-cond/HelveticaNeue-MediumCond.svg#HelveticaNeue-MediumCond') format('svg'),
       url('../fonts/helvetica-neue-medium-cond/HelveticaMedCd.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Roman';
  src: url('../fonts/helvetica-neue-roman/HelveticaNeue-Roman.eot');
  src: url('../fonts/helvetica-neue-roman/HelveticaNeue-Roman.woff2') format('woff2'),
       url('../fonts/helvetica-neue-roman/HelveticaNeue-Roman.woff') format('woff'),
       url('../fonts/helvetica-neue-roman/HelveticaNeue-Roman.ttf') format('truetype'),
       url('../fonts/helvetica-neue-roman/HelveticaNeue-Roman.svg#HelveticaNeue-Roman') format('svg'),
       url('../fonts/helvetica-neue-roman/HelveticaNeue-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/proxima-nova-bold/ProximaNova-Bold.eot');
  src: url('../fonts/proxima-nova-bold/ProximaNova-Bold.woff2') format('woff2'),
       url('../fonts/proxima-nova-bold/ProximaNova-Bold.woff') format('woff'),
       url('../fonts/proxima-nova-bold/ProximaNova-Bold.ttf') format('truetype'),
       url('../fonts/proxima-nova-bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
       url('../fonts/proxima-nova-bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/proxima-nova-regular/ProximaNova-Regular.eot');
  src: url('../fonts/proxima-nova-regular/ProximaNova-Regular.woff2') format('woff2'),
       url('../fonts/proxima-nova-regular/ProximaNova-Regular.woff') format('woff'),
       url('../fonts/proxima-nova-regular/ProximaNova-Regular.ttf') format('truetype'),
       url('../fonts/proxima-nova-regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'),
       url('../fonts/proxima-nova-regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}