@font-face {
  font-family: 'HelveticaNeue-Roman';
  src: url('../fonts/helvetica-neue-roman/HelveticaNeue-Roman.woff2') format('woff2'),
       url('../fonts/helvetica-neue-roman/HelveticaNeue-Roman.woff') format('woff'),
       url('../fonts/helvetica-neue-roman/HelveticaNeue-Roman.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Roman';
  src: url('../fonts/helvetica-neue-italic/HelveticaNeue-Italic.woff2') format('woff2'),
       url('../fonts/helvetica-neue-italic/HelveticaNeue-Italic.woff') format('woff'),
       url('../fonts/helvetica-neue-italic/HelveticaNeue-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helvetica-neue-light-cond/HelveticaNeue-LightCond.woff2') format('woff2'),
       url('../fonts/helvetica-neue-light-cond/HelveticaNeue-LightCond.woff') format('woff'),
       url('../fonts/helvetica-neue-light-cond/HelveticaNeue-LightCond.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helvetica-neue-condensed/HelveticaNeue-CondObl.woff2') format('woff2'),
       url('../fonts/helvetica-neue-condensed/HelveticaNeue57CondensedOblique.woff') format('woff'),
       url('../fonts/helvetica-neue-condensed/HelveticaNeue57CondensedOblique.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helvetica-neue-medium-cond/HelveticaMedCd.woff2') format('woff2'),
       url('../fonts/helvetica-neue-medium-cond/HelveticaNeue-MediumCond.woff') format('woff'),
       url('../fonts/helvetica-neue-medium-cond/HelveticaNeue-MediumCond.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helvetica-neue-bold-cond/HelveticaNeue-CondensedBold.woff2') format('woff2'),
       url('../fonts/helvetica-neue-bold-cond/HelveticaNeue-CondensedBold.woff') format('woff'),
       url('../fonts/helvetica-neue-bold-cond/HelveticaNeue-CondensedBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helvetica-neue-heavy-condensed/HelveticaNeueLTStd-HvCn.woff2') format('woff2'),
       url('../fonts/helvetica-neue-heavy-condensed/HelveticaNeueLTStd-HvCn.woff') format('woff'),
       url('../fonts/helvetica-neue-heavy-condensed/HelveticaNeueLTStd-HvCn.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
