.header
	margin-bottom 15px
	
	@media (min-width 480px)
		margin-bottom 0
			
	&__menu-wrap
		position relative
			
	&__column
		@media (min-width 768px)
			display inline-block
			
		&_1
			@media (min-width 768px)
				width 260px
				
			@media (min-width 800px)
				width 285px
				
		&_2
			@media (min-width 768px)
				float right
				margin-bottom 0
				
	&__logo
		text-align center
		padding-top 15px
		padding-bottom 15px
		
		@media (min-width 768px)
			padding-top 28px
			padding-bottom 0
			
		img
			vertical-align top
			
			@media (min-width 768px)
				width 100%
				height auto
				
	&__owl
		display none
		
		@media (min-width 768px)
			display block
			text-align right