.info p
	font-weight 500
	color $green-dark-color
	font-size 16px
	line-height 20px
	text-align center
	margin 42px 5px 46px
	text-shadow 0 -1px 1px white, 0 -1px 1px white, 0 1px 1px white, 0 1px 1px white, -1px 0 1px white, 1px 0 1px white, -1px 0 1px white, 1px 0 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white