.info
    padding 85px 0 46px

    p
        font-weight 500
        color $green-dark-color
        font-size 16px
        line-height 20px
        text-align center
        text-shadow 0 -1px 1px white, 0 -1px 1px white, 0 1px 1px white, 0 1px 1px white, -1px 0 1px white, 1px 0 1px white, -1px 0 1px white, 1px 0 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white, 1px 1px 1px white
        margin-bottom 10px

        &:last-child
            margin-bottom 0
