icon-magasinIcon1()
	background-image url(../img/sprite.png)
	background-position 0px -290px
	width 74px
	height 91px
	
icon-magasinIcon1w()
	background-image url(../img/sprite.png)
	background-position -523px 0px
	width 74px
	height 91px

icon-magasinIcon2()
	background-image url(../img/sprite.png)
	background-position 0px -169px
	width 74px
	height 91px

icon-magasinIcon2w()
	background-image url(../img/sprite.png)
	background-position -523px -242px
	width 74px
	height 91px

icon-magasinIcon3()
	background-image url(../img/sprite.png)
	background-position -315px -121px
	width 74px
	height 91px

icon-magasinIcon3w()
	background-image url(../img/sprite.png)
	background-position -104px -411px
	width 74px
	height 91px

icon-magasinIcon4()
	background-image url(../img/sprite.png)
	background-position -208px -411px
	width 74px
	height 91px

icon-magasinIcon4w()
	background-image url(../img/sprite.png)
	background-position -312px -411px
	width 74px
	height 91px

icon-magasinIcon5()
	background-image url(../img/sprite.png)
	background-position -416px -411px
	width 74px
	height 91px

icon-magasinIcon5w()
	background-image url(../img/sprite.png)
	background-position -520px -411px
	width 74px
	height 91px

icon-magasinIcon6()
	background-image url(../img/sprite.png)
	background-position -627px 0px
	width 74px
	height 91px

icon-magasinIcon6w()
	background-image url(../img/sprite.png)
	background-position -627px -121px
	width 74px
	height 91px
 
icon-magasinIcon7()
	background-image url(../img/sprite.png)
	background-position 0px -411px
	width 74px
	height 91px

icon-magasinIcon7w()
	background-image url(../img/sprite.png)
	background-position -523px -121px
	width 74px
	height 91px

icon-magasinIcon8()
	background-image url(../img/sprite.png)
	background-position -208px -169px
	width 74px
	height 91px

icon-magasinIcon8w()
	background-image url(../img/sprite.png)
	background-position -627px -242px
	width 74px
	height 91px

icon-magasinIcon9()
	background-image url(../img/sprite.png)
	background-position -315px 0px
	width 74px
	height 91px

icon-magasinIcon9w()
	background-image url(../img/sprite.png)
	background-position -104px -169px
	width 74px
	height 91px
	
icon-magasinIcon10()
	background-image url(../img/sprite.png)
	background-position -104px -290px
	width 74px
	height 91px

icon-magasinIcon10w()
	background-image url(../img/sprite.png)
	background-position -208px -290px
	width 74px
	height 91px

icon-magasinIcon11()
	background-image url(../img/sprite.png)
	background-position -312px -290px
	width 74px
	height 91px
 
icon-magasinIcon11w()
	background-image url(../img/sprite.png)
	background-position -419px 0px
	width 74px
	height 91px

icon-magasinIcon12()
	background-image url(../img/sprite.png)
	background-position -419px -121px
	width 74px
	height 91px

icon-magasinIcon12w()
	background-image url(../img/sprite.png)
	background-position -419px -242px
	width 74px
	height 91px

 
 
.magasin
	text-align center
	padding 30px 0 25px
	background-color #fefefe
	background-image repeating-linear-gradient(to bottom,rgb(207, 207, 207) 0%,rgb(228, 228, 228) 1px,rgb(255, 255, 255) 7px,rgb(255, 255, 255) 100%)
	border-bottom 1px solid #e4e4e4
	@media (min-width 480px)
		padding 35px 0
	&__title
		margin 0
		margin-bottom 20px
		font-family 'HelveticaNeue-CondensedMedium'
		text-transform uppercase
		color $green-dark-color
		font-size 21px
		line-height 24px
	&__categories
		max-width 1170px
		margin 0 auto
		@media (min-width 480px)
			margin 0 -20px
		@media (min-width 768px)
			margin 0 auto
	&__item
		position relative
		display inline-block
		width 46%
		margin 0 2% 10px
		padding 5px 0 0
		vertical-align middle
		border-radius 10px
		transition all .3s ease
		@media (min-width 480px)
			width 31.33333333333333333333%
			margin 0 1% 13px
		@media (min-width 768px)
			width 23%
		@media (min-width 992px)
			width 18%
		@media (min-width 1200px)
			width 14%
			margin-bottom 30px
		&:hover
			background-color $brown-color
			.magasin__icon
				&_1
					icon-magasinIcon1w()
				&_2
					icon-magasinIcon2w()
				&_3
					icon-magasinIcon3w()
				&_4
					icon-magasinIcon4w()
				&_5
					icon-magasinIcon5w()
				&_6
					icon-magasinIcon6w()
				&_7
					icon-magasinIcon7w()
				&_8
					icon-magasinIcon8w()
				&_9
					icon-magasinIcon9w()
				&_10
					icon-magasinIcon10w()
				&_11
					icon-magasinIcon11w()
				&_12
					icon-magasinIcon12w()
			.magasin__category-name
				color white
	&__icon
		display inline-block
		&_1
			icon-magasinIcon1()
		&_2
			icon-magasinIcon2()
		&_3
			icon-magasinIcon3()
		&_4
			icon-magasinIcon4()
		&_5
			icon-magasinIcon5()
		&_6
			icon-magasinIcon6()
		&_7
			icon-magasinIcon7()
		&_8
			icon-magasinIcon8()
		&_9
			icon-magasinIcon9()
		&_10
			icon-magasinIcon10()
		&_11
			icon-magasinIcon11()
		&_12
			icon-magasinIcon12()
	&__category-name
		font-family 'HelveticaNeue-CondensedLight'
		color $brown-color
		font-size 21px
		margin 0
		margin-top 12px
		height 50px
		padding 0 5px
	&__category-link
		position absolute
		top 0
		bottom 0
		left 0
		right 0