$xs = 480px // до какой ширины экрана доступно разворачивающееся меню
$sm = 768px

$menu-icon-bgc = white // цвет гамбургера и надписи "MENU"
$menu-btn-c = white // цвет надписи "MENU"
$menu-btn-bgc = $green-dark-color // цвет фона кнопки



//////////////////////////////////////////// Mobile (xs):

// 1 уровень меню:
$menu-1-bgc-m = white // цвет фона
$menu-1-c-m = $green-dark-color // цвет текста

$menu-1-p-m = 17px 30px 17px 17px // padding для a/span

$menu-1-bw-m = 1px // толщина border для li
$menu-1-bc-m = $green-dark-color // цвет border для li

// 2 уровень меню:
$menu-2-bgc-m = white // цвет фона
$menu-2-c-m = $green-dark-color // цвет текста

$menu-2-p-m = 10px 30px 10px 34px // padding для a/span

$menu-2-bw-m = 1px // толщина border для li
$menu-2-bc-m = $green-light-color // цвет border для li

// 3 уровень меню:
$menu-3-bgc-m = white // цвет фона
$menu-3-c-m = $green-light-color // цвет текста

$menu-3-p-m = 10px 20px 10px 15px // padding для a/span

$menu-3-bw-m = 1px // толщина border для li
$menu-3-bc-m = #ccc // цвет border для li



//////////////////////////////////////////// Desktop (sm):

// 1 уровень меню:
$menu-1-bgc-d = transparent // цвет фона
$menu-1-c-d = $green-dark-color // цвет текста

$menu-1-p-d = 17px 0 33px // padding для a/span

// 2 уровень меню:
$menu-2-bgc-d = white // цвет фона
$menu-2-c-d = $green-dark-color // цвет текста

$menu-2-p-d = 10px 20px 10px 15px // padding для a/span

$menu-2-bw-d = 1px // толщина border для li
$menu-2-bc-d = $green-dark-color // цвет border для li

// 3 уровень меню:
$menu-3-bgc-d = white // цвет фона
$menu-3-c-d = $green-light-color // цвет текста

$menu-3-p-d = 10px 20px 10px 15px // padding для a/span

$menu-3-bw-d = 1px // толщина border для li
$menu-3-bc-d = #ccc // цвет border для li



menu__icon()
    cursor pointer
    border-radius 1px
    height 3px
    width 25px
    background-color $menu-icon-bgc
    position absolute
    display block
    content ''
    transition all .2s ease .2s, transform .2s ease 0s

ul()
    list-style none
    z-index 9999
    transition all 0s ease-out 0s

a()
    display inline-block
    width 100%
    font-size 14px
    font-weight 700
    text-transform uppercase
    text-decoration none

.menu
    position relative

    ul
        ul()

    li
        hyphens()

    a
        a()

    span
        display inline-block
        font-size 14px
        font-weight 700
        text-transform uppercase
        text-decoration none
        cursor pointer

    &__btn
        width 100%
        background-color $menu-btn-bgc
        color $menu-btn-c
        width 100%
        text-align left
        position relative
        cursor pointer
        user-select none
        padding-left 45px
        border none
        ellipsis()

        @media (min-width $xs)
            display none

        &.open
            .menu__icon
                background-color transparent

                &:before
                    transform rotate(45deg)
                    top 0
                    transition all .2s ease 0s, transform .2s ease .2s

                &:after
                    transform rotate(-45deg)
                    bottom 0
                    transition all .2s ease 0s, transform .2s ease .2s

    &__icon
        position absolute
        top 50%
        left 10px
        transform translatey(-50%)
        menu__icon()

        &:before, &:after
            menu__icon()

        &:before
            top 8px

        &:after
            bottom 8px

    &__title
        line-height 40px
        text-transform uppercase
        font-size 18px
        font-weight 700

    &__ul
        background-color $menu-1-bgc-m
        display none

        @media (min-width $xs)
            background-color $menu-1-bgc-d
            display block
            text-align center

        @media (min-width $sm)
            text-align right

        ul
            display none

        span
            width 100%

        > li
            position relative
            border-bottom $menu-1-bw-m solid $menu-1-bc-m

            @media (min-width $xs)
                display inline-block
                margin-right 6%
                border none

            @media (min-width $sm)
                margin-right 23px

            &:first-child
                > ul
                    @media (min-width $xs)
                        left 0

            &:nth-child(2)
                > ul
                    @media (min-width $xs)
                        left 50%
                        transform translateX(-25%)

            &:nth-child(3)
                > ul
                    @media (min-width $xs)
                        left 50%
                        transform translateX(-50%)

            &:nth-child(4)
                > ul
                    @media (min-width $xs)
                        left 50%
                        transform translateX(-75%)

            &:last-child
                @media (min-width $xs)
                    margin-right 0

                > ul
                    @media (min-width $xs)
                        right 0

            > a
                padding $menu-1-p-m
                color $menu-1-c-m

                @media (min-width $xs)
                    padding $menu-1-p-d
                    color $menu-1-c-d

                &:after
                    @media (min-width $xs)
                        background-color $green-light-color
                        display block
                        content ""
                        height 1px
                        width 0%
                        left 50%
                        top 57.5%
                        position absolute
                        transition width .3s ease-in-out
                        transform translateX(-50%)

                &:hover:after
                    @media (min-width $xs)
                        width 80%

            > span
                @extend .menu__ul > li > a

                &:before
                    @media (min-width $xs)
                        display none

            &.active
                > a
                    @media (min-width $xs)
                        color $green-light-color

                    &:after
                        @media (min-width $xs)
                            background-color $green-light-color
                            display block
                            content ""
                            height 1px
                            width 80%
                            left 50%
                            bottom 12px
                            position absolute
                            transform translateX(-50%)

                > span
                    @extend .menu__ul > li.active > a

            > ul
                background-color $menu-2-bgc-m
                text-align left
                border-top $menu-1-bw-m solid $menu-1-bc-m

                @media (min-width $xs)
                    background-color $menu-2-bgc-d
                    border-top none
                    display none
                    position absolute
                    top 100%
                    width 170px
                    box-shadow 0 4px 10px rgba(0,0,0,0.5)

                @media (min-width $sm)
                    width 200px

                > li
                    border-bottom none
                    border-top $menu-2-bw-m solid $menu-2-bc-m

                    &:first-child
                        @media (max-width $xs)
                            border-top none

                    @media (min-width $xs)
                        border-top $menu-2-bw-d solid $menu-2-bc-d
                        display block

                    > a
                        padding $menu-2-p-m
                        color $menu-2-c-m

                        @media (min-width $xs)
                            padding $menu-2-p-d
                            color $menu-2-c-d

                        &:after
                            display none !important

                    > span
                        @extend .menu__ul > li > ul > li > a
                        cursor pointer

                        &.open
                            background-color rgba(177, 255, 0, 0.1)

                    > ul
                        background-color $menu-3-bgc-m
                        top 0
                        padding-left 0
                        border-top $menu-2-bw-m solid $menu-2-bc-m

                        @media (min-width $xs)
                            background-color $menu-3-bgc-d
                            border-top-color $menu-2-bc-d
                            display none

                        > li
                            border-top $menu-3-bw-m solid $menu-3-bc-m

                            &:first-child
                                border-top none

                            @media (min-width $xs)
                                border-top $menu-3-bw-d solid $menu-3-bc-d
                                display block

                            > a
                                color $menu-3-c-m
                                padding 10px 5px 10px 51px

                                @media (min-width $xs)
                                    color $menu-3-c-d
                                    padding 10px 5px 10px 23px

                                &:after
                                    display none !important

        span
            position relative

            &:before
                content ""
                position absolute
                right 5%
                top 50%
                transform translateY(-70%) rotate(45deg)
                width 5px
                height 5px
                border 4px solid $green-light-color
                border-left-color transparent
                border-top-color transparent
                transition all .5s ease

            &.open
                &:before
                    transform translateY(-30%) rotate(225deg)
