clearfix()
	&:after
		content ""
		display table
		clear both

section-title()
	margin 0 50px 20px
	font-weight 500
	text-transform uppercase
	color $green-dark-color
	font-size 21px
	line-height 24px
	@media (min-width 480px)
		max-width 650px
	@media (min-width 1450px)
		max-width 50%