.news
	text-align center
	padding 30px 0 25px
	background-color #fefefe
	background-image repeating-linear-gradient(to bottom,rgb(228, 228, 228) 0%,rgb(255, 255, 255) 5px,rgb(255, 255, 255) 100%)
	@media (min-width 480px)
		padding 46px 0
	&__title
		section-title()
		margin-bottom 30px
	&__item
		display inline-block
		position relative
		height 251px
		overflow hidden
		outline none
		&:hover
			.news__desc
				bottom 0
	&__desc
		position absolute
		bottom -109%
		width 100%
		padding 50px 0
		background-color rgba(188, 189, 38, 0.8)
		transition all .5s linear
		&:after
			content ""
			border-left 30px solid transparent
			border-right 30px solid transparent
			border-bottom 30px solid rgba(188, 189, 38, 0.8)
			position absolute
			right 50%
			transform translateX(50%)
			top -30px
	&__text
		font-weight 300
		color #ffffff
		font-size 15px
		margin 0
		&_bold
			font-weight 500
			margin-bottom 10px
		&_link
			display block
			font-weight 500
			text-decoration none
			margin-top 15px
	&__button
		position relative
		display inline-block
		height 43px
		line-height 43px
		margin-top 25px
		border 1px solid $green-light-color
		font-weight 900
		color $green-dark-color
		font-size 13px
		text-decoration none
		text-transform uppercase
		padding 0 5px 0 103px
		box-sizing border-box
		transition all .5s ease
		@media (min-width 480px)
			margin-top 29px
			padding 0 20px 0 118px
			max-width 80%
		&:hover
			color white
			background-color $green-light-color
		&:before
			content ""
			position absolute
			left 0
			top -1px
			background-color $green-light-color
			sprite-ramification()