@keyframes jump {
	0% {
		opacity 0
		transform translate(380%, -300%) rotate(-20deg)
	}
	5% {
		opacity 1
	}
	7.5% {
		transform translate(380%, -50%) rotate(-20deg)
	}
	50% {
		transform translate(380%, -50%) rotate(-20deg)
	}
	52.5% {
		transform translate(361%, -70%) rotate(-10deg)
	}
	55% {
		transform translate(342%, -60%) rotate(0deg)
	}
	57.5% {
		transform translate(323%, -80%) rotate(-7.5deg)
	}
	60% {
		transform translate(304%, -70%) rotate(-15deg)
	}
	62.5% {
		transform translate(285%, -80%) rotate(-22.5deg)
	}
	65% {
		transform translate(266%, -70%) rotate(-30deg)
	}
	67.5% {
		transform translate(247%, -80%) rotate(-40deg)
	}
	70% {
		transform translate(228%, -65%) rotate(-50deg)
	}
	72.5% {
		transform translate(209%, -70%) rotate(-55deg)
	}
	75% {
		transform translate(190%, -40%) rotate(-60deg)
	}
	77.5% {
		transform translate(171%, -45%) rotate(-55deg)
	}
	80% {
		transform translate(152%, -20%) rotate(-50deg)
	}
	82.5% {
		transform translate(133%, -30%) rotate(-47.5deg)
	}
	85% {
		transform translate(114%, -10%) rotate(-45deg)
	}
	87.5% {
		transform translate(95%, -20%) rotate(-40deg)
	}
	90% {
		transform translate(76%, 0%) rotate(-35deg)
	}
	92.5% {
		transform translate(57%, -10%) rotate(-27.5deg)
	}
	95% {
		transform translate(38%, 5%) rotate(-20deg)
	}
	97.5% {
		transform translate(19%, -15%) rotate(-10deg)
	}
	100% {
		transform translate(0, 0) rotate(0)
	}
}

.owl
	position relative
	padding 20px 7px 20px 0
	
	&__text
		display inline-block
		width 206px
		font-weight 700
		color $green-dark-color
		font-size 15px
		line-height 18px
		text-align center
		text-transform uppercase
		padding 15px 0
		border 3px solid $brown-color
		border-radius 10px
		position relative
		transition all 1s ease
		opacity 0
		transform scale(.3) translateX(300px)
		margin-right 22px
		
		&:before
			content ''
			position absolute
			width 0
			height 0
			top 30px
			right -24px
			border 12px solid
			border-color $brown-color transparent transparent $brown-color
			
		&:after
			content ''
			position absolute
			width 0
			height 0
			top 33px
			right -17px
			border 9px solid
			border-color white transparent transparent white
			
		&.visible
			opacity 1
			transform scale(1) translateX(0)
			
		> p
			margin 0
			
	&__img-back
		position relative
		display inline-block
		sprite-owl-back()
		vertical-align top
		margin-top 15px
		
		&:before
			content ""
			position absolute
			top 4px
			left 30px
			opacity 0
			sprite-owl-item()
			
		&.jump
			&:before
				opacity 1
				animation jump 4s linear