.shop
    text-align center
    padding 30px 0 25px
    background-image repeating-linear-gradient(to bottom, rgb(207, 207, 207) 0%, rgb(228, 228, 228) 1px, transparent 7px, transparent 100%)
    background-color #f7f7f7
    border-bottom 1px solid #e4e4e4

    @media (min-width 480px)
        padding 50px 0 30px

    &__title
        section-title()
        margin-bottom 29px

    &__categories
        margin-right auto
        margin-left auto
        font-size 0

    &__item
        position relative
        display inline-block
        margin-bottom 20px
        vertical-align top

        @media (max-width 399px)
            width 60%

            &:last-child
                margin-bottom 0

        @media (min-width 400px) and (max-width 479px)
            width 48%
            margin-right 2%

            &:nth-child(2n)
                margin-right 0

            &:nth-last-child(-n + 2)
                margin-bottom 0

        @media (min-width 480px) and (max-width 623px)
            width 32%
            margin-right 2%

            &:nth-child(3n)
                margin-right 0

            &:nth-last-child(-n + 3)
                margin-bottom 0

        @media (min-width 624px) and (max-width 767px)
            width 23.5%
            margin-right 2%
            margin-bottom 30px

            &:nth-child(4n)
                margin-right 0

            &:nth-last-child(-n + 4)
                margin-bottom 0

        @media (min-width 768px) and (max-width 991px)
            width 18.4%
            margin-right 2%
            margin-bottom 40px

            &:nth-child(5n)
                margin-right 0

            &:nth-last-child(-n + 2)
                margin-bottom 0

            &:last-child
                margin-right 0

        @media (min-width 992px)
            width 15%
            margin-right 2%
            margin-bottom 52px

            &:nth-child(6n)
                margin-right 0

            &:nth-last-child(-n + 6)
                margin-bottom 0

        &:hover
            .shop__icon-wrap
                background-color $brown-color

            .shop__icon
                &_1
                    sprite-shop-icon1w()

                &_2
                    sprite-shop-icon2w()

                &_3
                    sprite-shop-icon3w()

                &_4
                    sprite-shop-icon4w()

                &_5
                    sprite-shop-icon5w()

                &_6
                    sprite-shop-icon6w()

                &_7
                    sprite-shop-icon7w()

                &_8
                    sprite-shop-icon8w()

                &_9
                    sprite-shop-icon9w()

                &_10
                    sprite-shop-icon10w()

                &_11
                    sprite-shop-icon11w()

                &_12
                    sprite-shop-icon12w()

        a
            display block
            text-decoration none

    &__icon-wrap
        position relative
        display inline-block
        border 3px solid $brown-color
        border-radius 50%
        width 72px
        height 72px
        margin 13px 0 12px
        transition all .2s ease

        &:after
            content ""
            position absolute
            top -21px
            right 12px
            sprite-shop-icon-tracery()

    &__icon
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        margin auto

        &_1
            sprite-shop-icon1()

        &_2
            sprite-shop-icon2()

        &_3
            sprite-shop-icon3()

        &_4
            sprite-shop-icon4()

        &_5
            sprite-shop-icon5()

        &_6
            sprite-shop-icon6()

        &_7
            sprite-shop-icon7()

        &_8
            sprite-shop-icon8()

        &_9
            sprite-shop-icon9()

        &_10
            sprite-shop-icon10()

        &_11
            sprite-shop-icon11()

        &_12
            sprite-shop-icon12()

    &__category-name
        font-weight 400
        color $brown-color
        font-size 21px
        min-height 50px
        padding 0 10px
        overflow hidden
        hyphens()
