.slider-slick
	&__item
		outline none
		min-height 371px
		
		&_1
			background url(../img/slider/slider1.jpg) no-repeat
			background-size cover
			
		&_2
			background url(../img/slider/slider2.jpg) no-repeat
			background-size cover
			
		&_3
			background url(../img/slider/slider3.jpg) no-repeat
			background-size cover
			
		&_4
			background url(../img/slider/slider4.jpg) no-repeat
			background-size cover
			
	&__text
		padding 20px 25px
		> p
			font-family 'HelveticaNeue-Roman'
			font-style italic
			color #ffffff
			font-size 8vw
			line-height 36px
			margin 0
			margin-bottom 10px
			padding 0
			letter-spacing 0.01em

			@media (min-width 480px)
				font-size 40px
				
			&:last-child
				margin-bottom 0
			
	&__prev-wrap
		width 36px
		height 36px
		border-radius 0 3px 3px 0
		position absolute
		top 48%
		left 0
		z-index 9999
		background-color white
		opacity .8
		transition opacity .3s ease
		
		&:hover
			opacity 1
			cursor pointer
			
	&__prev-img
		sprite-prev-arrow()
		position absolute
		top 50%	
		left 45%
		transform translate(-50%, -50%)
		opacity .8
		
	&__next-wrap
		@extend .slider-slick__prev-wrap
		left inherit
		right 0
		background-color white
		border-radius 3px 0 0 3px
		
	&__next-img
		sprite-next-arrow()
		position absolute
		top 50%	
		left 55%
		transform translate(-50%, -50%)
		opacity .8
		
	.slick-dotted.slick-slider
		margin-bottom 0

	.slick-dots
		position absolute
		bottom 25px
		display block
		width 100%
		padding 0
		margin 0
		list-style none
		text-align center
		height 12px

		li
			vertical-align top
			width 12px
			height 12px
			background-color #c3c1c0
			border-radius 50%

			button
				width 12px
				height 12px

				&:before
					display none

			&.slick-active
				background-color white