sprite-additionally-icon1()
	background-image url(../img/sprite.png)
	background-position -262px -76px
	width 58px
	height 58px

sprite-additionally-icon2()
	background-image url(../img/sprite.png)
	background-position 0px -83px
	width 81px
	height 83px
 
sprite-additionally-icon3()
	background-image url(../img/sprite.png)
	background-position -262px 0px
	width 68px
	height 56px

sprite-additionally-icon4()
	background-image url(../img/sprite.png)
	background-position -262px -154px
	width 56px
	height 60px

sprite-additionally-icon5()
	background-image url(../img/sprite.png)
	background-position -101px -83px
	width 82px
	height 61px

sprite-cochlea()
	background-image url(../img/sprite.png)
	background-position -180px -394px
	width 53px
	height 27px

sprite-owl-back()
	background-image url(../img/sprite.png)
	background-position 0px 0px
	width 242px
	height 63px

sprite-owl-item()
	background-image url(../img/sprite.png)
	background-position 0px -249px
	width 47px
	height 59px

sprite-prev-arrow()
	background-image url(../img/sprite.png)
	background-position -390px -328px
	width 9px
	height 14px

sprite-next-arrow()
	background-image url(../img/sprite.png)
	background-position -361px -328px
	width 9px
	height 14px
 
sprite-ramification()
	background-image url(../img/sprite.png)
	background-position 0px -186px
	width 99px
	height 43px

sprite-search()
	background-image url(../img/sprite.png)
	background-position -344px -270px
	background-color white
	width 24px
	height 24px

sprite-shop-icon-tracery()
	background-image url(../img/sprite.png)
	background-position -419px -332px
	width 22px
	height 27px

sprite-shop-icon1()
	background-image url(../img/sprite.png)
	background-position -350px -67px
	width 49px
	height 47px

sprite-shop-icon1w()
	background-image url(../img/sprite.png)
	background-position -350px 0px
	width 49px
	height 47px

sprite-shop-icon2()
	background-image url(../img/sprite.png)
	background-position -139px -249px
	width 52px
	height 49px

sprite-shop-icon2w()
	background-image url(../img/sprite.png)
	background-position -67px -249px
	width 52px
	height 49px

sprite-shop-icon3()
	background-image url(../img/sprite.png)
	background-position 0px -394px
	width 38px
	height 43px

sprite-shop-icon3w()
	background-image url(../img/sprite.png)
	background-position -58px -394px
	width 38px
	height 43px

sprite-shop-icon4()
	background-image url(../img/sprite.png)
	background-position -419px -132px
	width 31px
	height 46px

sprite-shop-icon4w()
	background-image url(../img/sprite.png)
	background-position -419px -66px
	width 31px
	height 46px

sprite-shop-icon5()
	background-image url(../img/sprite.png)
	background-position -286px -328px
	width 55px
	height 34px

sprite-shop-icon5w()
	background-image url(../img/sprite.png)
	background-position -211px -328px
	width 55px
	height 34px

sprite-shop-icon6()
	background-image url(../img/sprite.png)
	background-position -203px -83px
	width 37px
	height 46px

sprite-shop-icon6w()
	background-image url(../img/sprite.png)
	background-position -419px 0px
	width 37px
	height 46px

sprite-shop-icon7()
	background-image url(../img/sprite.png)
	background-position -419px -198px
	width 29px
	height 47px

sprite-shop-icon7w()
	background-image url(../img/sprite.png)
	background-position -419px -265px
	width 29px
	height 47px

sprite-shop-icon8()
	background-image url(../img/sprite.png)
	background-position 0px -328px
	width 49px
	height 46px

sprite-shop-icon8w()
	background-image url(../img/sprite.png)
	background-position -69px -328px
	width 49px
	height 46px

sprite-shop-icon9()
	background-image url(../img/sprite.png)
	background-position -192px -186px
	width 44px
	height 35px

sprite-shop-icon9w()
	background-image url(../img/sprite.png)
	background-position -116px -394px
	width 44px
	height 35px

sprite-shop-icon10()
	background-image url(../img/sprite.png)
	background-position -350px -205px
	width 45px
	height 51px

sprite-shop-icon10w()
	background-image url(../img/sprite.png)
	background-position -350px -134px
	width 45px
	height 51px

sprite-shop-icon11()
	background-image:url(../img/sprite.png)
	background-position -119px -186px
	width 53px
	height 38px

sprite-shop-icon11w()
	background-image url(../img/sprite.png)
	background-position -138px -328px
	width 53px
	height 38px

sprite-shop-icon12()
	background-image url(../img/sprite.png)
	background-position -211px -249px
	width 49px
	height 48px

sprite-shop-icon12w()
	background-image url(../img/sprite.png)
	background-position -280px -249px
	width 49px
	height 48px