.welcome
    text-align center
    position relative

    &__wrap
        min-height 210px
        margin-right auto
        margin-left auto
        padding 32px 0 25px

        @media (max-width 767px)
            &:before, &:after
                display none

        @media (min-width 768px)
            width 46.375%
            max-width 742px

        @media (min-width 1600px)
            position relative

            &:before
                right inherit
                left 100%
                width 100%

            &:after
                left inherit
                right 100%
                width 100%

        &:before
            content ""
            width 26.8125%
            height 100%
            max-height 210px
            background url(../img/tree-right.png) left bottom no-repeat
            background-size contain
            position absolute
            right 0
            bottom 0

        &:after
            content ""
            width 26.8125%
            height 100%
            max-height 210px
            background url(../img/tree-left.png) right bottom no-repeat
            background-size contain
            position absolute
            left 0
            bottom 0

    &__title
        section-title()

    &__text
        font-family HelveticaNeue-Roman, arial, verdana
        padding 0 10px
        color #222222
        font-size 14px
        margin-right auto
        margin-left auto

        @media (min-width 480px)
            font-size 18px
            line-height 34px
            text-align center

        @media (min-width 768px)
            padding 0

        p
            margin 0
            margin-bottom 10px

            &:last-child
                margin-bottom 0

        a
            color $green-light-color
            text-decoration none

        b
            font-weight 700
            color $green-dark-color
